.__loginid_hide-password {
  display: none !important;
}

.__loginid_hide-username {
  display: none !important;
}

.__loginid_error-style {
}

.loginid-submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
