input[type="checkbox"].__loginid_setup-wizard-checkbox
  ~ .__loginid_setup-wizard-dropdown {
  display: none;
}

input[type="checkbox"].__loginid_setup-wizard-checkbox:checked
  ~ .__loginid_setup-wizard-dropdown {
  display: block;
  padding: 0.8rem 0px;
  border-top: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
}

input[type="checkbox"].__loginid_setup-wizard-checkbox
  ~ .__loginid_setup-wizard-label {
  display: static;
}

input[type="checkbox"].__loginid_setup-wizard-checkbox:checked
  ~ .__loginid_setup-wizard-label {
  display: none;
}

input[type="checkbox"].__loginid_setup-wizard-checkbox {
  display: none;
}

.__loginid_tls_warning_banner {
  background-color: #8b0000;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: none;
}
